{% extends 'base.html.twig' %}
{% block title %}Plomb
{% endblock %}

{% block body %}

	<div class=" flex flex-col items-center space-y-4 pt-18">

		<div>
			<p class="text-2xl font-bold text-center mb-6 text-gray-800">

				La Liste des plomb

			</p>

		</div>

		<div class="container flex justify-center items-center px-4 py-8">
			<table class="border-collapse border border-gray-400 mx-auto max-w-sreen-lg shadow-lg rounded-lg overflow-hidden">
				<thead class="bg-gray-200">
					<tr>
						<th class="border border-gray-300 p-4 text-center">ID</th>
						<th class="border border-gray-300 p-4 text-center">TMS</th>
						<th class="border border-gray-300 p-4 text-center">Transporteur</th>
						<th class="border border-gray-300 p-4 text-center">Plomb N°1</th>
						<th class="border border-gray-300 p-4 text-center">Plomb N°2</th>
						<th class="border border-gray-300 p-4 text-center">
							Date</th>
						<th class="border border-gray-300 p-4 text-center">Heure d'arriver</th>
						<th class="border border-gray-300 p-4 text-center">Heure de depart</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-300">
					{% for plomb in pagination %}
						<tr class="hover:bg-gray-100 transition duration-300">
							<td class="border border-gray-300 p-4 text-center">{{ plomb.numberReference }}</td>
<td class="border border-gray-300 p-4 text-center">
								{{ (pagination.currentPageNumber - 1) * pagination.itemNumberPerPage + loop.index }}
							</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.numberReference}}</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.consigne.name }}</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.sealNumber }}</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.plomb1 }}</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.createdAt|date('d/m/Y') }}</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.arrivalTime|date('H:i') }}</td>
							<td class="border border-gray-300 p-4 text-center">{{ plomb.departureTime|date('H:i') }}</td>
						</tr>
					{% endfor %}


				</tbody>
			</table>

		</div>

		{% include 'components/pagination.html.twig' with { pagination: pagination } %}


	</div>
{% endblock %}
